.grid-container {
  display: grid;
  grid-template-columns: 200px 1000px 200px;
  grid-template-rows: 100px 750px;
  grid-area: "header header header" "left main right";
}

.login-container {
  width: 500px;
  margin: 200px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.login-box {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.form-group {
  border-radius: 5px;
  margin-bottom: 15px;
  width: 100%;
}

.login-button {
  border-radius: 5px;
}

.title-word {
  animation: color-animation 4s linear infinite;
}

.title-word-1 {
  --color-1: #df8453;
  --color-2: #3d8dae;
  --color-3: #e4a9a8;
}

.title-word-2 {
  --color-1: #dbad4a;
  --color-2: #accfcb;
  --color-3: #17494d;
}

.title-word-3 {
  --color-1: #accfcb;
  --color-2: #e4a9a8;
  --color-3: #accfcb;
}

.title-word-4 {
  --color-1: #3d8dae;
  --color-2: #df8453;
  --color-3: #e4a9a8;
}

@keyframes color-animation {
  0% {
    color: var(--color-1);
  }
  32% {
    color: var(--color-1);
  }
  33% {
    color: var(--color-2);
  }
  65% {
    color: var(--color-2);
  }
  66% {
    color: var(--color-3);
  }
  99% {
    color: var(--color-3);
  }
  100% {
    color: var(--color-1);
  }
}

.title-container {
  display: grid;
  place-items: center;
  text-align: center;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 48px;
  text-transform: uppercase;
}
